<div class="container elemntscontainer">
  <div class="row align-items-center mb-3">
    <div class="col text-end">
      <label for="classSelect" class="form-label">اختر الفصل:</label>
      <select id="classSelect" [(ngModel)]="selectedClass" (change)="updatePresentStudents()" class="form-select">
        <option value="">كل الفصول</option>
        <option *ngFor="let class of classes" [value]="class">{{ class }}</option>
      </select>
    </div>
  </div>
  <div class="row">
    @for (student of presentStudents; track $index) {
      <div class="col-6 col-sm-4 col-md-3 col-lg-2">
        <app-student-card
          [studentImage]="student.image"
          [studentName]="student.name"
          [studentID]="student.studentid"
          [studentEmail]="student.email" 
          (studentSelected)="onStudentSelected($event)">
        </app-student-card>
      </div>
    }
  </div>
</div>


<div class="modal fade" id="studentModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content custom-modal animate-modal">

      <div class="modal-header custom-header">
        <div class="student-info">
          <span class="student-name">{{ selectedStudent?.name }}  </span>
          <span class="student-id">{{ selectedStudent?.studentid }}</span>
        </div>
<div class="month-selector">
  <button class="btn btn-light" (click)="previousMonth()">
    <i class="bi bi-chevron-right"></i>

  </button>
  <span>{{ currentMonth }}</span>
  <button class="btn btn-light" (click)="nextMonth()">
    <i class="bi bi-chevron-left"></i>
  </button>
</div>

        <button class="btn check-btn"><i class="bi bi-check-circle-fill"></i></button>

      </div>
      <div class="modal-body">
        <app-add-exam-marks [studentID]="selectedStudent"></app-add-exam-marks>
      </div>

    </div>
  </div>
</div>