
<div class="container elemntscontainer">
  <div class="row align-items-center mb-3">
  </div>
  <div class="row">
    @for(student of filteredStudents; track $index){
      <div class="col-6 col-sm-4 col-md-3 col-lg-2">
        <div class="student-card">
          <img [src]="student.image || 'assets/default-avatar.png'" alt="صورة الطالب" class="student-image" />
          <div class="student-info">
            <h3>{{ student.name }}</h3>
            <p>{{ student.studentid }}</p>
          </div>
        </div>
      </div>
    }
  </div>
</div>