<div class="container-fluid">
 <div class="instructions-container mt-4">
    <div class="header">
      <h2>الشروط والتعليمات</h2>
    </div>
    <div class="content">
      <h3>📜 ١. الشروط العامة</h3>
      <ul>
        <li>يلتزم جميع المستخدمين باستخدام النظام وفقًا للسياسات المحددة من قبل إدارة الحضانة.</li>
        <li>يُمنع مشاركة بيانات الدخول أو كلمة المرور مع أي شخص آخر للحفاظ على أمان المعلومات.</li>
        <li>دارة الحضانة لها الحق في تحديث أو تعديل الشروط والسياسات وفقًا لاحتياجات العمل .</li>
        <li>أي إساءة استخدام للنظام قد تؤدي إلى تعليق أو إلغاء الحساب.</li>
      </ul>
  
      <h3>📖 ٢. التعليمات</h3>
      <h5>📌 للمعلمين:</h5>
      <ul>
        <li>تحديث بيانات الطلاب والفصول بشكل دوري لضمان دقة المعلومات.</li>
        <li>تسجيل الحضور والغياب يوميًا وإرسال تقارير الغياب في الوقت المحدد.</li>
        <li>تقييم أداء الطلاب بانتظام وتحديث الدرجات والأنشطة.</li>
        <li>التواصل مع أولياء الأمور بأسلوب احترافي عند الحاجة.</li>
        <li>استخدام النظام لإضافة الأنشطة والواجبات وتحديد المواعيد النهائية للتسليم.</li>
      </ul>
      <h5>📌 لأولياء الأمور:</h5>
      <ul>
        <li>متابعة أداء وحضور أطفالهم من خلال التقارير المتاحة على النظام.</li>
        <li>تسجيل الحضور والغياب يوميًا وإرسال تقارير الغياب في الوقت المحدد.</li>
        <li>التواصل مع إدارة الحضانة في حالة وجود أي استفسارات أو مشاكل.</li>
        <li>احترام سياسات الحضانة وعدم استخدام النظام لأغراض غير تعليمية.</li>
      </ul>
      <h5>📌 للإدارة :</h5>
      <ul>
        <li>مراقبة أداء المعلمين والتأكد من تحديث البيانات باستمرار.</li>
        <li>مراجعة الطلبات والاستفسارات المقدمة من أولياء الأمور والرد عليها في أسرع وقت.</li>
        <li>إدارة المدفوعات وإصدار الإيصالات والتقارير المالية بشكل منتظم.</li>
        <li>ضمان حماية بيانات الطلاب والمعلمين وعدم مشاركتها مع أطراف غير مصرح لها.</li>
      </ul>
      <h3>🔒 ٣. سياسة الخصوصية</h3>
      <ul>
        <li>جميع البيانات المخزنة في النظام محمية باستخدام أحدث تقنيات الأمان.</li>
        <li>لا يتم مشاركة أي بيانات مع جهات خارجية دون موافقة مسبقة.</li>
        <li>يمكن للمستخدمين طلب تعديل أو حذف بياناتهم من خلال إدارة الحضانة.</li>
        <li>يُمنع استخدام النظام لأغراض تسويقية أو إعلانية غير مصرح بها.</li>
        <li>يتم حفظ جميع الأنشطة المسجلة في النظام لمراجعتها عند الحاجة.</li>
      </ul>
      <h5>📌 باستخدامك لهذا النظام، فإنك توافق على جميع الشروط والسياسات المذكورة أعلاه. لمزيد من المعلومات، يُرجى التواصل مع إدارة الحضانة.</h5>
    </div>
  </div>   
</div>

 
