<nav class="sidebar" [class.open]="isSidebarOpen">
  <div class="profile">
    <div class="avatar d-none d-lg-block">
      <img src="assets/Photo.png" width="70px" height="70px"  alt="Avatar">
    </div>
    <h4 class="fw-bold mt-4 mb-4">روضة الفرقان</h4>
  </div>
  <ul>
    @for (link of links; track link) {
      <li>
        <a [routerLink]="link.path" routerLinkActive="active"[routerLinkActiveOptions]="{ exact: true }">
          <i class="{{ link.icon }}"></i>
          <span class="me-3">{{ link.title }}</span>
        </a>
      </li>
    }
  </ul>
</nav>

