<div class="layout">
      <div class="container-fluid">
        <admin-banner ></admin-banner>
      </div>
      <admin-marquee></admin-marquee>
      <div class="container-fluid">
      <div class="dashboard row">
        <div class="col-lg-3 col-md-12">
          <admin-statistics-cards></admin-statistics-cards>
       </div>
        <div class="col-lg-5 col-md-12 ">
        <admin-schedule></admin-schedule>
        </div>
        <div class="col-lg-4 col-md-12 ">
          <admin-teacher-list></admin-teacher-list>
        </div>
      </div>
    </div>
</div>
  