<!-- <form (submit)="login()" #loginForm="ngForm">
  <label>Email:</label>
  <input type="email" [(ngModel)]="credentials.email" name="email" required />

  <label>Password:</label>
  <input type="password" [(ngModel)]="credentials.password" name="password" required />

  <button type="submit">Login</button>
</form> -->


<div class="container">
  <form (submit)="login()" #loginForm="ngForm" class="form">
    <h2 class="title">Welcome Back</h2>
    <div class="form-group">
    <label  class="form-label d-block text-end">البريد الالكتروني</label>
    <input type="email" [(ngModel)]="credentials.email" name="email" required />
</div>

      <div class="form-group">
        <label  class="form-label d-block text-end">كلمة المرور</label>
        <input type="password" [(ngModel)]="credentials.password" name="password" required />
      </div>
      <button type="submit" class="btn">Login</button>

 <!-- ✅ رابط تسجيل حساب جديد -->
    <p class="signup-link">
      ليس لديك حساب؟ <a routerLink="/auth/signup">سجل الآن</a>
    </p>
</form>
</div>
