<div class="layout">
      <div class="container-fluid">
        <app-banner></app-banner>
      </div>
      <app-marquee></app-marquee>
      <div class="container-fluid">
      <div class="dashboard row">
        <div class="col-xl-7 col-lg-6 col-md-12">
        <app-schedule></app-schedule>
        </div>
        <div class="col-xl-5 col-lg-6 col-md-12">
          <app-subject-grades></app-subject-grades>
          <app-teacher-list></app-teacher-list>
        </div>
      </div>
    </div>
</div>
  