<div class="banner">
  <div class="banner-content">
    <div class="banner-text">
      <p>  4 سبتمبر 2023</p>
      <h2> مرحبًا بك في روضة الفرقان نتمنى لك يومًا جميلًا</h2>
    </div>
      <div class="banner-img d-none d-xxl-block">
        <img src="assets/images/Banner/Scholarcap scroll.png" class=" scholarcap" alt="Scholar Cap">
          <img src="assets/images/Banner/College Student.png" class="student" alt="Student">
          <img src="assets/images/Banner/Backpack.png" class=" backpack" alt="Backpack">

      </div>
  </div>
</div>
